<div id:"user"> 
  <img src="<%= user.photo %>" alt="User Photo">
  <article>
    <h1><%= user.name %></h1>
    <p>Number of posts: <%= user.posts_counter.nil? ? 0 : user.posts_counter %></p>
  <article>
</div>