:root {
  --purple: rgb(146, 28, 162);
  --light_purple: rgb(214, 180, 244);
  --dark_purple: rgb(42, 1, 81);
}

nav {
  display: flex;
  position: fixed;
  top: 1px;
  background-color: rgb(207, 162, 249);
  width: calc(100% - 6rem);
  height: 2rem;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

body {
  color: var(--dark_purple);
}

button,
.submit_button {
  background-color: var(--light_purple);
  min-height: 2rem;
  border: 0.2rem solid var(--purple);
  border-radius: 5px;
}
